@model Major

<h3 class="text-center">New Major Form</h3>

<form asp-action="Add" method="post" class="row g-3">
    <div class="col-md-6">
        <label class="form-label" asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input class="form-control" asp-for="Name" />
    </div>

    <div class="col-md-6">
        <label class="form-label" asp-for="Description"></label>
        <span asp-validation-for="Description" class="text-danger"></span>
        <input class="form-control" asp-for="Description" />
    </div>

    <button class="btn btn-success" type="submit">Add Major</button>
</form>
