@using CollegeManagement.Web.Enums;
@model Major

@{
    var gender = Enum.GetValues<Sex>();
}

<h3 class="text-center">Update existing Student data</h3>

<form asp-action="Edit" method="post" class="row g-3" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="col-md-6">
        <label class="form-label" asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input class="form-control" asp-for="Name" />
    </div>

    <div class="col-12">
        <a class="btn btn-success" href="/students">Cancel</a>
        <button class="btn btn-warning" type="submit">Update</button>
    </div>
</form>