@using Microsoft.AspNetCore.Identity;
@model IdentityRole

<form asp-action="AddRole" method="post">
    
    <label asp-for="Name" class="form-label"></label>
    <span asp-validation-for="Name" />
    <input asp-for="Name" class="form-control"/>

    <button type="submit" class="btn btn-success mt-3">Save Role</button>
</form>
