@using Microsoft.AspNetCore.Identity;
@model List<IdentityUser>

@{
    int i = 1;
}

@foreach(var user in Model)
{
    @(i++)
    <a href="/auth/assignrole?userId=@user.Id">@user.Email</a>
    <br />
}
